// ==============================
// Variables Override
// ==============================



// ========== Global ========== //
// Color of the hover link
$global-link-hover-color: #c0ba00;

// ========== Single Content ========== //

// Color of the single link
$single-link-color: #c0ba00;
$single-link-color-dark: #fcf501;

// Color of the hover single link
$single-link-hover-color: #efbe39;
$single-link-hover-color-dark: #ffffff;


// Color of the blockquote
$blockquote-color: #ffdd59;
$blockquote-color-dark: #ffd32a;

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color: #c0ba00;


// ========== Selection ========== //
// Color of the selected text
$selection-color: #fcf501;
$selection-color-dark: #fff700;